# Ignore raw data (keep private or too big)
data/raw/
data/processed/

# Ignore outputs (Power BI can import locally)
outputs/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings (optional)
.vscode/
